### **Associated work items**
@@WILOOP@@  
* **Sprint Team** *[ ${widetail.fields['System.AreaPath']} ]*  **${widetail.fields['System.WorkItemType']} [ ${widetail.id} ]** - ${widetail.fields['System.Title']}  
@@WILOOP@@ 