<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NRGREST</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>LocaleRequestFilter</filter-name>
    <filter-class>
        com.multibrand.web.context.request.LocaleRequestFilter
    </filter-class>
</filter>
<filter-mapping>
    <filter-name>LocaleRequestFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
</filter-mapping>

  
 
  <servlet>
    <servlet-name>NRGRESTService</servlet-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
         <param-value>/WEB-INF/spring/NRGREST-appContext.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
  
	<servlet-mapping>
		<servlet-name>NRGRESTService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  
 <!--  <servlet>
		<servlet-name>NRGRESTService</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.multibrand.resources</param-value>
		</init-param>
		 <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>com.multibrand.web.context.request.LocaleRequestFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>NRGRESTService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping> -->
</web-app>